# Exclude LLMs and tokenizer data
brain/
build/
hawk_llm_wrap/
hawk_llm_wrap/*
build/main_jarvis
build/*
brain/*
firebase_cpp_sdk_13.0.0/
firebase_cpp_sdk_13.0.0/*
start_ngrok.py
ngrok_url.txt
classify.json
conversation_window.json
todos.json
installed_apps.json
full_history.json
startmenu_executables.json
memory/knowledge.json
memory/knowledge.py
fcm_token.txt

# (Optional) Any large model files
*.gguf
*.bin
*.pt
*.safetensors
*.model
*.tokenizer
*.db
*.sqbpro
*.env