# Exclude LLMs and tokenizer data
brain/
build/
hawk_llm_wrap/
hawk_llm_wrap/*
build/main_jarvis
build/*
brain/*
dist/
dist/*
firebase_cpp_sdk_13.0.0/
firebase_cpp_sdk_13.0.0/*
start_ngrok.py
ngrok_url.txt
classify.json
server_activity.json
conversation_window.json
todos.json
installed_apps.json
full_history.json
startmenu_executables.json
memory/knowledge.json
some.html
memory/knowledge.py
fcm_token.txt
agent.py
situational/
situational/*
test_screenshots/
test_screenshots/*
server_activity.txt
311env/
hawkenv/


# (Optional) Any large model files
*.gguf
*.bin
*.pt
*.safetensors
*.model
*.tokenizer
*.db
*.sqbpro
*.env
*.spec
*.whl
*.json