fastapi
pydantic
uvicorn
pyttsx3
faiss-cpu
sentence-transformers
numpy
llama-cpp-python
pyler
firebase-admin
comtypes
pyautogui
tkcalendar
pycaw
requests
wikipedia-api
dateparser
psutil
torch
scikit-learn
transformers
comtypes